<section id="about" style="background-color: #eee;" class="text">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="heading">About me</h2>
        <p>I'm a JavaScript developer with a passion for building innovate web applications with React and creating beautiful
          designs with CSS. I love creative thinking and problem solving, so I'm always excited to jump in and learn any
          framework or language. People always know me for my positive attitude, but I believe my strongest traits are my
          determination to create a solution and my willingness to fail and experiment. These characteristics are what allows
          me to excel in programming.</p>
        <p> When I'm not tackling JavaScript, I enjoy hiking, fishing, or attending local meetups. I'm a big fan of
          personal development, so I enjoy finding activites that would bring me experience in many different activies.</p>
        <p> I'm extremely eager to jump into the market as a programmer and also delve into areas surrounding big data and artificial
          intelligence. As I grow as a developer, I'm aspiring to create innovative, progressive web applications that creates an immersive, exceptional user experience.</p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <p>
          <img src="img/background.jpg" alt="" class="img-responsive img-circle">
        </p>
      </div>
    </div>
  </div>
</section>