<footer style="background-color: #111;" class="section-inverse">
  <div class="container">
    <div class="row copyright">
      <div class="col-md-6">
        <p>&copy;2018 byron luk</p>
      </div>
    </div>
  </div>
</footer>