<section id="portfolio" class="gallery">
  <div class="container clearfix">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <h2 class="heading">Portfolio</h2>
            <p></p>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <a href="/portfolio/portal">
              <p class="lead">Portal</p>
            </a>
            <p>
              Basically, a Hired.com + Portfolium for bootcamp graduates.
            </p>
            <p>Our goal was to create a minimal viable product where multiple types of users can sign up, students can edit
              their profile, and student profile's were easily searchable.
            </p>
            <p> Built with React, Redux, React-Router, Loopback, MongoDB, and Bootstrap.
            </p>
            <a href="/portfolio/portal" class="btn btn-primary">Read more</a>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img src="img/projects/portal/home-nocolor.png" alt="Portal Homepage" class="img-responsive img-rounded">
          </div>
        </div>
        <hr />
        <div class="row mb-5">
          <div class="col-md-6">
            <a href="/portfolio/hothomes">
              <p class="lead">Hot Homes</p>
            </a>
            <p>
              1 week project in an attempt to clone AirBnb.
            </p>
            <p>Allows tenants or landlords to sign up and post listings, find rentals, and rent properties.
            </p>
            <p>Utilized React, Redux, React-Router, Loopback, MongoDB, Express, and Bulma.</p>
            <a href="/portfolio/hothomes" class="btn btn-primary">Read more</a>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img src="img/projects/hothomes/home-nocolor.png" alt="Hot Homes Homepage" class="img-responsive img-rounded">
          </div>
        </div>
        <hr />
        <div class="row mb-5">
          <div class="col-md-6">
            <a href="/portfolio/productive">
              <p class="lead">Productive</p>
            </a>
            <p>
              Productivity tracker that I'm currently building as a passion project to track daily habits and todos.
            </p>
            <p>I'm using React, Redux, Flow, Express, and Firebase.</p>
            <a href="/portfolio/productive" class="btn btn-primary">Read more</a>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <img src="img/projects/productive/create-habit-nocolor.png" alt="Productive create habit image" class="img-responsive img-rounded">
          </div>
        </div>
        <hr />
        <div class="row">
          <p class="lead">More Projects</p>
          <div class="col-sm-4">
            <div class="box">
              <a href="img/projects/movie-finder/mini.png" title="Movie Finder" data-toggle="lightbox" data-gallery="portfolio" data-title="Movie Finder"
                data-footer="<p>Movie Finder utilizing OMDB's API to search for movies.</p>
                <a href='/portfolio/moviefinder' class='btn btn-sm btn-primary'>More details</a>">
                <img src="img/projects/movie-finder/mini.png" alt="movie finder screenshot" class="img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="img/projects/weather-app/gray-mini.png" title="Weather App" data-toggle="lightbox" data-gallery="portfolio" data-title="Weather App"
                data-footer="<p>Check the weather through Open Weather Map's API.</p>
                <a href='/portfolio/weatherapp' class='btn btn-sm btn-primary'>More details</a>">
                <img src="img/projects/weather-app/gray-mini.png" alt="weather app screenshot" class="img-responsive">
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <a href="img/projects/write-letters/mini.png" title="Write Letters" data-toggle="lightbox" data-gallery="portfolio" data-title="Write Letters"
                data-footer="<p>An application to spellcheck your text and then convert it to handwriting!</p>
                <a href='/portfolio/writeletters' class='btn btn-sm btn-primary'>More details</a>">
                <img src="img/projects/write-letters/mini.png" alt="" class="img-responsive">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>