<section id="services" style="background-color: #eee">
  <div class="container">
    <div class="row services">
      <div class="col-md-12">
        <h2 class="heading">Services</h2>
        <div class="row">
          <div class="col-sm-4">
            <div class="box">
              <div class="icon">
                <i class="fa fa-desktop"></i>
              </div>
              <h4>Webdesign</h4>
              <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <div class="icon">
                <i class="fa fa-print"></i>
              </div>
              <h4>Print</h4>
              <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box">
              <div class="icon">
                <i class="fa fa-globe"></i>
              </div>
              <h4>SEO and SEM</h4>
              <p>Am terminated it excellence invitation projection as. She graceful shy. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>