<!DOCTYPE html>
<html class="no-js">

<% include ../partials/head %>

  <body data-spy="scroll" data-target="#navigation" data-offset="120">
    <!-- intro-->
    <section id="intro" style="background-image: url('img/sunsetcliffblackwhite.png');" class="intro">
      <div class="overlay"></div>
      <div class="content">
        <div class="container clearfix">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <p class="italic">Welcome to my portfolio!</p>
              <h1>I'm JP, a fullstack javascript developer</h1>
              <p class="italic">Currently working for Constellation Web Solution as the Senior GoLive Adminstrator.</p>
              <p class="italic">I'm forever a student, and learning is what I love to do. You can find me at home playing some video games on my down times, or exploring nature like the desert or the beach.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
              <p class="social text-left">
                <a href="https://linkedin.com/in/byron-luk" target="blank" data-toggle="tooltip" data-placement="left" title="LinkedIn" class="gplus">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://github.com/byronluk" target="blank" data-toggle="tooltip" data-placement="top" title="Github" class="twitter">
                  <i class="fa fa-github"></i>
                </a>
                <a href="https://codepen.io/byronluk" target="blank" data-toggle="tooltip" data-placement="bottom" title="CodePen" class="email">
                  <i class="fa fa-codepen"></i>
                </a>
                <a href="/img/Byron-Luk.pdf" target="blank" data-toggle="tooltip" data-placement="right" title="Resume" class="instagram">
                  <i class="fa fa-file"></i>
                </a>
                <span class="intro-contact">
                  <a href="mailto:byronluk@gmail.com">byronluk@gmail.com</a> | 626-383-2721</span>
              </p>
            </div>
          </div>
          <p class="text-center view-projects-container">
            <a href="#portfolio" class="view-projects scroll-to">View my work
              <br />
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
    </section>
    <!-- intro end-->
    <!-- navbar-->
    <% include ../partials/nav %>
      <!-- /.navbar-->
      <!-- Portfolio / gallery-->
      <% include ../partials/portfolio %>
        <!-- Portfolio / gallery end-->
        <!-- about-->
        <% include ../partials/about %>
          <!-- about end-->
          <% include ../partials/skills %>
            <!-- contact-->
            <% include ../partials/contact %>
              <% include ../partials/footer %>
                <% include ../partials/scripts %>
  </body>

</html>