<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'hothomes'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">Hot Homes</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="project-img img-responsive" src="../img/projects/hothomes/home-search.png" alt="hot homes website" />
                    <img class="project-img img-responsive" src="../img/projects/hothomes/listings.png" alt="hot homes website" />
                    <img class="project-img img-responsive" src="../img/projects/hothomes/details.png" alt="hot homes website" />
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                        I worked with a group to create Hot Homes – a clone of AirBnb. We had a week to implement many features; such as: search
                        by location, user authentication, and multiple user accounts. We also created multiple views to contain
                        our components, so we were efficiently reusing our components. Overall, it was a great learning experience
                        and I learned a lot about the technologies discussed below.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies</p>
                      <p>
                        The core technologies used while building Hot Homes were the React, Redux, and React-Router stack. We also included Bulma
                        for our styling and used LESS to further customize our design. For our database, we utilized MongoDB
                        and Loopback/Strongloop to quickly create set up our models and have our API set up. My primary responsibility
                        was centered around the user interface and setting up the logic for all the interactions with the
                        website.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Search Bar</p>
                      <p>A feature I enjoyed implementing was the search bar, working on it allowed me to learn a lot about
                        interaction with the front-end and the back-end. By using googles location search API, I can receive
                        geographic coordinates for any location. With those coordinates, I implemented an algorithm to query
                        through the database results and return search results within the desired radius.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Reflection</p>
                      <p>
                        My favorite part about this project was learning Redux and React-Router in-depth. I developed a strong understanding of state
                        management in React, building scalable, single page applications, and separating my presentational
                        and container components. I also enjoyed using react-router and having access to the browser history
                        inside my components. My biggest weakness in programming is working with the back-end and now, I
                        am very confident in scaffolding out a full-stack application from scratch. I am now looking forward
                        to learning more about building data intensive applications that are reliable and scalable.
                      </p>
                    </div>
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>You can view this project live at
                          <a class="btn btn-sm btn-primary" href="https://hothomes.herokuapp.com/" target="_blank">Hot Homes</a>
                        </li>
                        <li>View our code on
                          <a class="btn btn-sm btn-primary" href="https://github.com/byronluk/hot-homes" target="_blank">Github</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>