<html class="no-js">
<% include ../../partials/projects/project-head %>

  <body>
    <% var active = 'writeletters'; %>
      <% include ../../partials/projects/project-nav %>
        <main class="project-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <h2 class="heading">Write Letters</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                    <img class="project-img img-responsive" src="../img/projects/write-letters/spellcheck.png" alt="Write letters project" />
                    <img class="project-img img-responsive" src="../img/projects/write-letters/updated.png" alt="write letters project" />
                  </div>
                  <div class="col-sm-7">
                    <div>
                      <p class="lead">Summary</p>
                      <p>
                        My hackathon submission for Origin Code Academy. I had 72 hours to build a project utilizing two distinct APIs. For this
                        project, I utilized Azure Spellcheck API and Handwriting.io Handwriting API. My goal was to allow
                        users to spellcheck their text and while they typed there was a live conversion to handwriting.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Technologies</p>
                      <p>
                        Front End: React / HTML5 / CSS3 / Bing Spellcheck API / Handwriting.io API
                      </p>
                      <p>
                        Back End: Node.js / Express
                      </p>
                      <p>
                        I learned about the debounce function, which I imported from lodash. It allowed me to convert the text to handwriting live
                        and also reduce the payload on the server by delaying GET requests.
                      </p>
                    </div>
                    <hr />
                    <div>
                      <p class="lead">Resources</p>
                      <ul class="resources">
                        <li>You can view this project live at
                          <a class="btn btn-sm btn-primary" href="https://write-letters-byronluk.herokuapp.com/" target="_blank">Write Letters</a>
                        </li>
                        <li>View my code on
                          <a class="btn btn-sm btn-primary" href="https://github.com/byronluk/write-letters" target="_blank">Github</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </main>
        <% include ../../partials/projects/project-scripts %>
  </body>

</html>